# Core Application Framework
streamlit

# Data Handling and Numerical Operations
pandas
numpy

# Machine Learning and Statistical Modeling
scikit-learn
statsmodels
scipy

# Data Visualization and Explainability
plotly
shap
Numba
matplotlib
